.deleteButton {
    width: 210px;
    height: 100px;
    background: #F28C26;
    float: left;
    margin: 5px;
    border: 10px;
    border-radius: 0px;
    box-shadow: 2 1px 1px rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bolder;
    font-family: monospace;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5px;
    }


.hiddenSpace {
    color: #F28C26;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5px;
    }


.dot {
    height: 70px;
    width: 70px;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 50px;
    font-weight: bolder;
    color: #000;
    display: flex;
  }